In [1]:
import pymysql

In [3]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111')
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('schoolmanagementsystem',)
('sys',)
('techbros',)
('world',)

In [7]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

('studentsperformance',)

In [10]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE GROUP_A_DATA SELECT * FROM studentsperformance WHERE raceethnicity = "GROUP A"')
mydb.commit()

OperationalError: (1050, "Table 'GROUP_A_DATA' already exists")

# AGGREGATE FUNCTION

### COUNT

In [12]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(*) FROM studentsperformance WHERE mathscore < 50')
for x in mycursor:
    print(x);

(135,)

In [14]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(*) FROM studentsperformance WHERE mathscore <= 50')
for x in mycursor:
    print(f'{x} Persons');

(150,) Persons

In [16]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(DISTINCT mathscore) FROM studentsperformance')
for x in mycursor:
    print(x);

(81,)

### SUM

In [19]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT SUM(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity = "group A"')
for x in mycursor:
    print(x);

(Decimal('5485'),)

In [20]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT SUM(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity = "GROUP A"')
for x in mycursor:
    print(x);

(Decimal('5485'),)

### MAX

In [21]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT MAX(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity = "group A"')
for x in mycursor:
    print(x);

(100,)

### MIN

In [23]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT MIN(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity = "group A"')
for x in mycursor:
    print(x);

(28,)

### AVERAGE

In [24]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'schoolmanagementsystem'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT AVG(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity = "group A"')
for x in mycursor:
    print(x);

(Decimal('61.6292'),)

### GROUP CONCAT

In [25]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'techbros'
)
    
mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x);

('fswd',)
('fswl',)
('fswphp',)
('pwds',)

In [38]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'techbros'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT ID, SName, Age, Gender, GROUP_CONCAT(SLevel) AS ALL_LEVEL FROM PWDS GROUP BY ID')
for x in mycursor:
    print(x);

(1, 'John Armstadam', 42, 'Male', 'Expert')
(2, 'Wesly Obarn', 27, 'Male', 'Junior')
(3, 'Victoria Reece', 32, 'Female', 'Intermediate')
(4, 'Aina James', 50, 'Male', 'Expert')
(5, 'Adaora Samsom', 34, 'Female', 'Intermediate')
(6, 'Smith Canan', 36, 'Male', 'Expert')
(7, 'Jacqlyn Evans', 29, 'Female', 'Intermediate')
(8, 'Travolta John', 47, 'Male', 'Expert')
(9, 'Emiley Scandrost', 30, 'Female', 'Junior')
(10, 'Benzema Kylian', 33, 'Male', 'Expert')
(11, 'Morka Dantata', 40, 'Male', 'Expert')
(12, 'Tashasha Mandela', 45, 'Female', 'Expert')
(13, 'Michael Lincoln', 29, 'Male', 'Junior')
(14, 'Wesley Snipes', 36, 'Male', 'Intermediate')
(15, 'Reece James', 40, 'Male', 'Expert')
(16, 'Ben Chilwel', 51, 'Male', 'Expert')
(17, 'Christiana Harry', 45, 'Female', 'Expert')
(18, 'Armstadam John', 25, 'Male', 'Junior')
(19, 'Wesly Obarn', 27, 'Male', 'Junior')
(20, 'Victoria Reece', 22, 'Female', 'Junior')

### FIRST

In [40]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'techbros'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT SName FROM PWDS LIMIT 1')
for x in mycursor:
    print(x);

('John Armstadam',)

In [41]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'techbros'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT SName FROM PWDS LIMIT 10')#Returns the first 10 items on the table
for x in mycursor:
    print(x);

('John Armstadam',)
('Wesly Obarn',)
('Victoria Reece',)
('Aina James',)
('Adaora Samsom',)
('Smith Canan',)
('Jacqlyn Evans',)
('Travolta John',)
('Emiley Scandrost',)
('Benzema Kylian',)

### LAST

In [42]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'techbros'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT SName FROM PWDS ORDER BY ID DESC LIMIT 1')#Returns the last item on the table
for x in mycursor:
    print(x);

('Victoria Reece',)

In [43]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Clemzy4111',
    database = 'techbros'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT SName FROM PWDS ORDER BY ID DESC LIMIT 5') #Returns the last 5 information on the table
for x in mycursor:
    print(x);

('Victoria Reece',)
('Wesly Obarn',)
('Armstadam John',)
('Christiana Harry',)
('Ben Chilwel',)