In [2]:
price1 = 15000
price2 = 25000
price3 = 45000

report ='i sold two pairs of shirt for {}, a shoe for {}, a suit for the sum of {}'
print (report.format(price1,price2,price3))

i sold two pairs of shirt for 15000, a shoe for 25000, a suit for the sum of 45000

In [3]:
print (f'i sold two pairs of shirt for {price2}, a shoe for {price1}, a suit for {price3}')

i sold two pairs of shirt for 25000, a shoe for 15000, a suit for 45000

In [3]:
word1 = 'python'
word2 = 'PYTHON'
word3 = 'python is fun'
word4 = '     info@gmail.com'

print(word1.upper())
print(word2.lower())
print(word3.title())
print(word3.capitalize())
print(word3.split())
print(word4.strip())

PYTHON
python
Python Is Fun
Python is fun
['python', 'is', 'fun']
info@gmail.com

In [4]:
print(word1.capitalize())

Python

In [5]:
print(word1)

python

In [31]:
print(f'{word1}:',word3)

python: python is fun

In [7]:
print(word1,word4)

python      info@gmail.com

In [8]:
print(word1,word4.strip())

python info@gmail.com

In [9]:
print('python'+ word3)

pythonpython is fun

In [10]:
print(word3 + ' in the end')

python is fun in the end

In [11]:
print(word1 + ' is hard at the begining but ' + word3)

python is hard at the begining but python is fun

# Data Type Conversion

In [12]:
num2 = int(12.5)
print(num2)

12

In [13]:
print(round(num2))

12

In [14]:
print(round(int(num2)))

12

In [15]:
print(float(num2))

12.0

In [16]:
num1 = float(135.67)
print(round(int(num1)))

135

In [17]:
print(int(num1))

135

In [18]:
print(int(round(num1)))

136

In [19]:
print(str(num1))

135.67

# OPERATORS

# Arithmetic Operators
## + addition
## - subtration
## * multiplication
## / division
## % modulous
## // integer division
## ** exponentia

In [6]:
number1 = 25
number2 = 15

print(f'{number1} + {number2} = {number1 + number2}')
print(f'{number1} - {number2} = {number1 - number2}')
print(f'{number1} x {number2} = {number1 * number2}')
print(f'{number1} / {number2} = {number1 / number2}')
print(f'{number1} % {number2} = {number1 % number2}')
print(f'{number1} // {number2} = {number1 / number2}')
print(f'{number1} ^ {number2} = {number1 ** number2}')

25 + 15 = 40
25 - 15 = 10
25 x 15 = 375
25 / 15 = 1.6666666666666667
25 % 15 = 10
25 // 15 = 1.6666666666666667
25 ^ 15 = 931322574615478515625

# Comparism Operators
## > greater than
## < less than
## >= greater than or equal to
## <= less than or equal to
## == equal to
## != not equal to

In [21]:
print(number1 > number2)
print(number1 < number2)
print(number1 >= number2)
print(number1 <= number2)
print(number1 == number2)
print(number1 != number2)

True
False
True
False
False
True

In [22]:
print(num1 > num2)

True

In [23]:
print(price1 > price2)

False

In [24]:
totalmoney = 1000
quantity = 3
price = 450.00
report = "i have {} dollars so i can buy {} football for {} dollars"
print(report.format(totalmoney,quantity,price))

i have 1000 dollars so i can buy 3 football for 450.0 dollars

In [25]:
print(float(458))

458.0

In [16]:
principal = 5000
rate = 6
time = 3
print(f'{principal}(1 + {rate}/100)**3 - {principal} = {principal}')

solution = principal * (1 + rate/100)**3 - principal
print(f'= {principal} *(1 + {rate}/100)**3 - {principal} = {solution} ')


print(f'{number1} + {number2} = {number1 + number2}')
print(f'{number1} - {number2} = {number1 - number2}')
print(f'{number1} x {number2} = {number1 * number2}')
print(f'{number1} / {number2} = {number1 / number2}')
print(f'{number1} % {number2} = {number1 % number2}')
print(f'{number1} // {number2} = {number1 / number2}')
print(f'{number1} ^ {number2} = {number1 ** number2}')

5000(1 + 6/100)**3 - 5000 = 5000
= 5000 *(1 + 6/100)**3 - 5000 = 955.0799999999999
25 + 15 = 40
25 - 15 = 10
25 x 15 = 375
25 / 15 = 1.6666666666666667
25 % 15 = 10
25 // 15 = 1.6666666666666667
25 ^ 15 = 931322574615478515625

# Logical Operators
## and
## or
## not

In [4]:
print(number1)

NameError: name 'number1' is not defined

In [ ]:
print(number1 != number2 and number1 < number2)

In [ ]:
print(number1)

In [ ]:
print(number1 != number2 and number1 < number2)

In [ ]:
print(not number1)

In [ ]:
print(number1 != number2 and number1 > number2)

# Membership Operators
## in, not in

In [17]:
word = 'School'
print('s' in word)

False

In [18]:
print('s'not in word)

True

In [19]:
print('S' in word)

True

In [20]:
print('p' not in word)

True

# Identity Operators
## is, is not

In [21]:
print(number1 is number2)

False

In [22]:
print(number1 is not number2)

True

In [27]:
add = 'adebayo'
print(add.upper())

ADEBAYO

In [54]:
name = input('Please provide password: ')
check = {name}
if any(name.upper()) in check:
    print('Name is accepted')
else:
    print('error')

Please provide password: ADEBAYO
error

In [55]:
name = input('Please provide your name: ')
if name[:]is not name.upper():
    print(f'{name} has an upper case')
else:
    print('Not allowed')

Please provide your name: ades
ades has an upper case

In [47]:
name = input('Please provide your name: ')
if name not in name.upper():
    print(f'{name} has an upper case')
else:
    print('Not allowed')

Please provide your name: adegy
adegy has an upper case