In [19]:
pname = 'Nokia'
mod = 'NK13-A02'
amt = 130000

statement = 'You have successfully purchased {} {} for the sum of ${}'
print (statement.format(pname,mod,float(amt)))

You have successfully purchased Nokia NK13-A02 for the sum of $130000.0

In [12]:
word1 = 'python'
word2 = 'PYTHON'
word3 = 'python is fun'
word4 = '     info@gmail.com'

print(word1.capitalize())
print(word1.upper())
print(word1.title())
print(word1.split())
print(word2.lower())
print (word3.title())
print (word3.capitalize())
print(word3.upper())
print (word3.split())
print(word4.strip())

Python
PYTHON
Python
['python']
python
Python Is Fun
Python is fun
PYTHON IS FUN
['python', 'is', 'fun']
info@gmail.com

In [16]:
num1 = 12.5
print(int(num1))

12

In [17]:
num2 = 15
print (float(num2))

15.0

In [22]:
num3 = 123.45
print(round(int(num3)))

123

In [1]:
# Mini Calculator for two arguments
num1 = int(input('arg1: '))
num2 = int(input('ard2: '))

print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ^ {num2} = {num1 ** num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print (num1 > num2)
print (num1 < num2)
print(num1 == num2)
print(num1 != num2)

arg1: 23
ard2: 2
23 + 2 = 25
23 - 2 = 21
23 * 2 = 46
23 / 2 = 11.5
23 // 2 = 11
23 ^ 2 = 529
23 % 2 = 1
True
False
False
True

In [2]:
age = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

In [5]:
result = reversed(age)
result = tuple(result)
print(result)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [6]:
result = reversed(age)
result = tuple(result)
print(result)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [7]:
word = 'I love you'
for x in word:
    print(x)

I

l
o
v
e

y
o
u